.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 44px;
  background-color: var(--mantine-color-dark-7);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
  padding: 26px;
}
